@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

body {
  font-family: 'Josefin Sans', sans-serif;
  min-width: 1024px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.dropdown-container {
  margin: 20px 0px 0;
  float: right;
}

.dropbtn {
    background-color: white;
    width: 90px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.dropbtn i {
  padding-left: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 2;
    top: 60px;
    border: 1px solid #888;
    border-radius: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: black;
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.App {
  text-align: center;
}

#tagline {
  font-family: 'Assistant', sans-serif;
  min-width: 100%;
  font-weight: 100;
  font-size: 5em;
  color: white;
  float: left;
  margin-top: 320px;
  margin-left: 50px;
  position: relative;
  text-align: left;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  margin-left: 0;
  text-align: center;
  z-index: 2;
  letter-spacing: 20px;
}

#tagline:after {
  content: '';
  background-image: url('/images/logoWhite.png');
  background-repeat: no-repeat;
  display: block;
  width: 600px;
  height: 115px;
  background-size: cover;
  left: 50%;
  top: -150px;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  position: absolute;
  -webkit-transition: .1s transform;
  transition: .1s transform;
}

@media (max-width: 1300px) {
  #tagline {
    font-size: 3.5em;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
  border-radius: 5px;
  z-index: 1;
}

.slider {
  background-color: white;
  margin: 25px 57px;
  max-height: 350px;
}

.sliderImg {
  max-width: 400px;
  max-height: 350px;
  overflow: hidden;
}

.sliderImg img {
  height: 95%;
  width: 95%;
  margin: auto;
  border-radius: 3px;
}

.homeContainer h1 {
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}

.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}

.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.DayPicker-Day .DayPicker-Day--disabled {
  /*color: red !important;*/
}

/*SEARCH PAGE*/
.wrapper {
  width: 80%;
  margin: auto;
  padding: 5px;
}

.searchResult {
  padding: 5px;
  width: 30%;
  height: 30%;

}

/*SEARCH BAR*/
.searchBar {
  width: 100%;
  display: flex;
  margin-bottom: 5%;
}

.homeContainer .searchForm{
  margin-top: 10px;
}

.searchForm{
  margin: auto;
  margin-top: 50px;
}

.searchInput {
  padding: 10px 20px;
  width: 700px;
  border: 1px solid black;
}

.searchButton {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: white;
}

.contentWrapper {
  /* overflow: hidden; */
  margin-top: 0;
}

button {
  text-transform: none;
  border: none;
}

.indivImgLrg {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* -------- LOGO ---------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.logo {
  height: 75px;
  margin: 12px 20px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 60px;
  cursor: pointer;
  display: inline-block;
  -webkit-backface-visibility: hidden;
}



.lighter {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 66px;
}

.lens {
  width: 38px;
  height: 38px;
  position: absolute;
  border-radius: 50%;
  left: 160px;
  top: 38px; /* might be bad */
  overflow: hidden;
  border: 2px solid black;
  box-shadow: inset 0px 0px 0px 5px;
  box-sizing: border-box;
}

.lens:after {
  content: '';
  background-image: url('../iris.gif');
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  height: 200px;
  background-size: contain;
  top: -83px;
  right: -83px;
  position: absolute;
  transition: .1s transform;
}

.logo:hover .lens:after {
  transform: rotate(90deg) scale(.2);
}

.userauth {
  display: flex;
}

Button {
  margin: 25px 10px;
}

label {
  font-size: 15px;
}

.modal-title {
  text-align: center;
  font-size: 30px;
  margin: 5px 0 0 0;
}


.modal-body p {
  margin: 10px 0px 0px 10px;
  font-size: 17px;
}

.modal-body input {
  width: 100%;
  height: 35px;
  padding: 10px;
}

.modal-body textarea {
  width: 100%;
}

.oppHeader {
  display: flex;
}





.jslider {
  width: 93%;
  height: 600px;
  position: relative;
  min-width: 1024px;
  margin: 25px auto 0;
  position: relative;
  border-radius: 20px;
}
.jslide1,.jslide2,.jslide3{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.jslide1 {
  background: url('/images/SplashArt.jpg') no-repeat center ;
  background-size: cover;
  animation:fade 10s infinite;
-webkit-animation:fade 10s infinite;
} 
.jslide2 {
  background: url('/images/pho.jpg') no-repeat center ;
  background-size: cover;
  animation:fade2 10s infinite;
-webkit-animation:fade2 10s infinite;
}
.jslide3 {
  background: url('/images/sunset.jpg') no-repeat center ;
  background-size: cover;
  animation:fade3 10s infinite;
-webkit-animation:fade3 10s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}