
.avatarWidget {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  clear: left;
  margin-top: 10%;
}
.avatarName {
  width: 50%;
}

.avatarWidget__name {
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Assistant', sans-serif;
  letter-spacing: 1px;
  width: 50%;
  text-align: center;
  float: right;
  margin-right: 8%;
}

.avatarWidget__img {
  width: 104%;
}

