.starredContainer {
  display: flex;
}

.photographerContainer {
  width: 150px;
  text-align: center;
}

.applicantcard {
}

th {
  font-weight: bold;
  width: 5%;
}

td {
  width: 5%;
}

.right {
  margin-top: 50px
}

.left {
  margin-top: 50px
}