.contentWrapper {
  margin-left: 10%;
  margin-right: 10%
}

.starredContainer {
  display: flex;
}

.photographerContainer {
  width: 150px;
  border-radius: 50%;
  text-align: center;
}

th {
  font-weight: bold;
  width: 20%;
  text-align: center;
}

td {
  width: 15%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.right {
  /* margin-top: 50px */
}

.left {
  margin-top: 50px;
}