.footer {
  margin-top: 250px;
  height: 75px;
  text-align: center;
  clear: both;
  color: #2E3532;
  background-color: white;
}

.footer a {
  color: #2E3532;
}

a:hover {
  color: #A0AAB2;
  text-decoration: none;
}

.footer i {
  padding: 10px;
  font-size: 1.25em;
  text-align: center;
  display: inline-block;
}

.footer p {
  display: inline-block;
  line-height: 75px;
}
