.applyEventForm {
  height: 200px;
  width: 570px;
  resize: none;
  margin: auto;
}

.applicationSent{
  border: 2px, solid black;
  width: 60%;
  margin: auto;
}

.oppHeader {
  width: 80%;
  margin: auto;
}

.deletebutton {
  margin: 0px;
}

.emptyevent {
  width: 60%;
  margin: auto;
}

.react-tabs {
  position: relative;
}

.createbutton {
  margin-left: 15px;
  margin-bottom: 10px;
  float: left;
  position: absolute;
  top: 65px;
  right: 40px;
}

.notification {
  color: #0066ff;

}

.react-tabs {
  max-width: 60%;
  margin: 0 auto;
}

.opportunities {
  padding: 20px;
}

.eventcard {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid grey;
}