.applyEventForm {
  height: 200px;
  width: 570px;
  resize: none;
  margin: auto;
}

.applicationSent{
  border: 2px, solid black;
  width: 60%;
  margin: auto;
}

.oppHeader {
  width: 60%;
  margin: auto;
}

.deletebutton {
  margin: 0px;
}

.emptyevent {
  width: 60%;
  margin: auto;
}

.createbutton {
  margin-left: 15px;
  margin-bottom: 10px;
float: left;
}