.profile {
  position: relative;
}

.packageError {
  position: absolute;
  top: 480px;
  left: 300px;
  color: red;
}

.tierError {
  color: red;
  margin-left: 15px;
}

.profiledesc textarea {
  resize: none;
  font-size: 1.25em;
  width: 100%;
  height: 250px;
  padding: 15px;
  border-color: #cccccc;
}

.socialMediaContainerEdit {
  float: right;
  width: 50%;
  height: 368px;
}

.socialMediaContainerEdit i {
  font-size: 1.5em;
  width: 10%;
  text-align: center;
  margin-right: 0.5%;
}

.socialMediaContainerEdit input {
  width: 85%;
  font-size: 1.5em;
  padding: 0.5% 2%;
}

.socialMediaContainerEdit hr {
  background-color: black;
  border: 1px solid black;
}

.socialMediaContainer hr {
  background-color: black;
  border: 1px solid black;
}

.avatarSocMedEdit {
  position: relative;
  padding: 1.3% 0 0 0;
  width: 45%;
  float: left;
  z-index: 3;
}

.avatarSocMedEdit h5 {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
}

.avatarSocMedEdit a {
  color: #2E3532;
  font-size: 1.25em;
}

.avatarSocMedEdit a:hover {
  color: #A0AAB2;
  text-decoration: none;
}

#upload {
  font-family: 'Assistant', sans-serif;
  float: right;
  border-radius: 5px;
  font-size: 1.25em;
  width: 18%;
  text-transform: uppercase;
  padding: 1%;
  font-size: 1.5em;
  letter-spacing: 2px;
}

#file {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 20px;
}

.submitButton {
  color: black;
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 20%;
  padding: 7px 5px;
  font-size: 1.5em;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Assistant', sans-serif;
  z-index: 6;
  letter-spacing: 2px;
}

.submitButton:hover {
  color: #cccccc;
}

#upload:hover {
  color: #cccccc;
}

.uploadContainer {
  font-size: 1.25em;
  padding: 0 5%;
}

.uploadContainer form {
  margin: auto;
  width: 90%;
}

.uploadContainer label {
  font-size: 1.25em;
  letter-spacing: 2px;
  width: 25%;
  margin: 0.5% 0;
  text-transform: uppercase;
  font-family: 'Assistant', sans-serif;
}

.descInput {
  display: flex;
}

.outerUploadContainer {
  width: 70%;
  float: right;
}

.outerUploadContainer hr {
  border: 1px solid black;
  background-color: black;
}

.outerUploadContainer h1 {
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3em;
  font-weight: 700;
}


.uploadContainer input {
  width: 75%;
  margin: 1% 0;
  padding: 0.5% 1%;
}

.uploadContainer textarea {
  resize: none;
  width: 75%;
  height: 70px;
  margin: 1% 0;
  padding: 0.5% 1%;
  border-color: #cccccc;
}

.packageForm {
  /*margin: 10px 0px;*/
}

.packageForm label {
  font-family: 'Assistant', sans-serif;
  width: 40%;
  margin-right: 5%;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: right;
}

.tierinput {
  width: 55%;
  font-size: 1.25em;
  text-align: right;
  padding: 0.5% 1%;
}

.priceinput {
  width: 55%;
  font-size: 1.25em;
  text-align: right;
  padding: 0.5% 1%;
}

.descriptioninput {
  resize: none;
  width: 100%;
  height: 150px;
  font-size: 1.25em;
  padding: 0.5% 1%;
}

.hidden {
  display: none;
}

.reviewCard h4 {
  font-weight: 700;
  font-size: 1.5em;
}

.reviewCard h5 {
  font-size: 1.5em;
  float: right;
}

.reviewCard p {
  font-style: italic;
}

.statisticsContainer h1 {
  font-family: 'Assistant', sans-serif;
  letter-spacing: 3px;
  font-size: 3em;
  font-weight: 700;
}

.eventsContainer h1 {
  font-family: 'Assistant', sans-serif;
  letter-spacing: 3px;
  font-size: 3em;
  font-weight: 700;
}

.eventsContainer .oppHeader {
  width: 100%;
}

.eventsContainer h2 {
  display: none;
}

.featuredContainer h1 {
  font-family: 'Assistant', sans-serif;
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: 700;
}

.featuredContainer hr {
  background-color: black;
  border: 1px solid black;
}

.statisticsContainer hr {
  background-color: black;
  border: 1px solid black;
}

.portfolioContainer hr {
  background-color: black;
  border: 1px solid black;
}

.eventsContainer hr {
  background-color: black;
  border: 1px solid black;
}

.editButton {
  position: absolute;
  bottom: 0;
  margin-left: 10%;
  font-size: 1.5em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 7px 5px;
  width: 25%;
  z-index: 5;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.editButton:hover {
  color: #cccccc;
  z-index: 5;
}

.dropDownMenu {
  position: absolute;
  top: 430px;
  float: left;
  width: 25%;
}

.dropDownMenu h1 {
  margin-top: 15%;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  padding: 2%;
}

.dropDownMenu hr {
  border: 1px solid black;
  background-color: black;
}

.avatarSocMed {
  position: relative;
  padding: 1.3% 0;
  width: 45%;
  height: 386px;
  float: left;
  z-index: 3;
}

.socialMediaContainer h5 {
  margin-top: 2%;
  font-family: 'Assistant', sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 5px;
}

.avatarSocMed a {
  color: #2E3532;
  font-size: 1.25em;
}

.avatarSocMed a:hover {
  color: #A0AAB2;
  text-decoration: none;
}

.fa-star {
  color: #2E3532;
}

.fa-star:hover {
  color: #A0AAB2;
  cursor: pointer;
}
.socialMediaContainer {
  margin: 0;
  width: 50%;
  font-size: 1.5em;
  float: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.socialMediaContainer i {
  font-size: 1.25em;
  width: 10%;
  text-align: center;
}

.contactMe {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  margin-left: 50px;
  float: right;
  display: inline;
}

.likeContact {
  display: inline-block;
  position: absolute;
  bottom: 1%;
  left: 55%;
}

.personalDetContainer {
  font-size: 1.5em;
  width: 50%;
  float: right;
  clear: right;
}

.personalDetContainer h3 {
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 5px;
}

.personalDetContainer hr {
  background-color: black;
  border: 1px solid black;
}

.personalDetContainer p {
  font-size: 1.20em;
}

.likesContainer {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 33px;
}

.likesContainer i {
  float: right;
  margin: 0px 5px;
  display: inline-block;
}

.likesContainer p {
  display: inline-block;
  float: left;
}

.profilebtn button {
  font-family: 'Assistant', sans-serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 5px;
  width: 100%;
  font-size: 2.5em;
  margin: 2.5% 0;
}

.profilebtn button:hover {
  color: #A0AAB2;
}

.DayPicker {
  font-size: 2.10rem;
}

.menu p {
  font-size: 1.25em;
}

.menu {
  padding: 0 3%;
  width: 100%;
}

.reviewMenu {
  padding: 0 3%;
  width: 100%;
}

.reviewMenu p {
  font-size: 1.25em;
}

.toggleOn {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 2% 1% 0 1%;
  letter-spacing: 1px;
}

.toggleOn:hover, .toggleOn:focus {
  color: #A0AAB2;
}

.featuredPortfolio {
  width: 70%;
  float: right;
}

.featuredPortfolio h1 {
  text-transform: uppercase;
  font-family: 'Assistant', sans-serif;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 3em;
}

.featuredPortfolio hr {
  border: 1px solid black;
  background-color: black;
}

.portfolioContainer {
  width: 100%;
}

.portfolioContainer h1 {
  font-family: 'Assistant', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 5px;
  text-align: left;
}

.portfolioContainer hr {
  background-color: black;
  border: 1px solid black;
}

.sliderContainer h1 {
  font-family: 'Assistant', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 5px;
}

.sliderContainer hr {
  background-color: black;
  border: 1px solid black;
}

.wrapper {
  width: 100%;
  margin: auto;
  padding: 0;
  overflow: hidden;
  line-height: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap:   0;
  -moz-column-count:    3;
  -moz-column-gap:      0;
  column-count:         3;
  column-gap:           0;
}

.searchResult {
  padding: 5px;
  width: 100%;
}

.dropdown-profile {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-profile {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown-profile:hover .dropdown-content-profile {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-profile:hover .dropbtn-profile {
    background-color: #3e8e41;
}

.dropbtn-profile {
    background-color: white;
    border: 1px solid black !important;
    width: 200px;
    padding: 10px 15px;
    margin: 0px 75px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.addReviewModal textarea{
  min-height: 150px;
}

.addReview {
  border: 1px solid #cccccc;
  margin-left: 70%;
}

.addReview:hover {
  background-color: white;
  border: 1px solid #cccccc;
  color: #cccccc;
}

.profilebtn .deleteReview {
  width: 20%;
  width: 170px;
  padding: 5px 0;
  font-size: 1.2em;
  margin: 0;
}