/*SEARCH BAR*/
.searchBar {
  width: 100%;
  display: flex;
  margin-top: 0px;
}

.searchForm{
  margin: auto;
  margin-top: 25px;
}

.searchInput {
  padding: 10px 20px;
  width: 800px;
  border: 1px solid black;
}

.searchButton {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: white;

}

.searchResult {
  padding: 5px;
  width: 30%;
  height: 30%;

}

.catSearch {
  height: 40px;
  display: block;
  padding: 10px;
}


