

.settingsWrapper {
  max-width: 300px;
  margin: auto;
}

.settingsWrapper form {
  max-width: 300px;
}

.wrapper form {
  height: 500px;
  width: 300px;
  overflow: auto;
}

.settingsWrapper form input {
  display: inherit;
  width: 100%;
}
.settingsWrapper form button {
  margin: 50px auto 0;
  width: 150px;
  position: relative;
  float: none;
  display: block;
}