.contentWrapper {
  margin-left: 5%;
  margin-right: 5%
}

.starredContainer {
  display: flex;
}

.photographerContainer {
  width: 150px;
  border-radius: 50%;
  text-align: center;
}

th {
  font-weight: bold;
  font-size: 18px;
  width: 20%;
  text-align: center;
  padding: 0 15px;
}

td {
  width: 15%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.right {
  width: 65%;
  float: right;
  margin-bottom: 200px;
}

.left {
  width: 30%;
  float: left;
  overflow: hidden;
}