nav {
  height: 200px;
  background-color: white;

  margin-top: -20px; /* might be bad */
}

.userauth {
  float: right;
  margin: 23px 20px 0 0;
}

.loggedIn .userauth {
  margin-right: 0;
}

.logoWrap {
  display: inline-block;
  float: left;
  padding: 0;
}

.loggedInAs {
  display: inline-block;
  float: left;
  padding: 10px;
  color: #888;
  clear: both;
  margin-top: 10px;
  margin-left: 9%;
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.loggedInAs span {
  color: #333;
}

.dropdown-content.burger {
  min-width: 120px;
  max-width: 120px;
}